.main{
    background-color: rgb(97, 97, 255);
    padding: 20px;
    border-radius: 10px;
}

.chat-message{
    /*background-color: rgb(190, 176, 253);*/
}

ul{
}

.meta{
    color: grey; 
    margin: 0;
}

.text{
    padding: 0;
    margin: 0;
}

.other{
    background: rgb(190, 176, 253);
    margin: 10vh;
}

.range{
    max-height: 60vh;    
    overflow-y: scroll;
}

.left-side {
    background-color: rgb(190, 176, 253);  
    border-radius: 10px;
    margin-top: 10px;
}

.right-side {
    /*background-color: white;*/
}

.btn {
    background-color: rgb(190, 176, 253);
    color: black;
}

.form-container {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#msg, #send{ width: 100%;}

.message {
    background-color: rgb(190, 176, 253);  
    padding: 5px 10px;
    margin: 10px 5px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px black;
}

.message:nth-child(odd) {
    background-color: rgb(212, 204, 248);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(97, 97, 255);
}

::-webkit-scrollbar-thumb {
    background: rgb(190, 176, 253);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(190, 176, 253);
}