.main{
    background-color: rgb(97, 97, 255);
    margin-top: 20px;
    padding-top: 10px;
    text-align: left;
}

.chat-message{
    background-color: rgb(190, 176, 253);
    margin-top: 20px;
    margin-bottom: 20px;
}

.right-side{
    background-color: white;
    height: 60vh;
max-height: 60vh;
}

.left-side{
    background-color: cornflowerblue;
    height: 60vh;
max-height: 60vh;
}

ul{
    font-size: 30px;
}

.meta{
    color: grey;
    margin: 5px;
}

.text{
    font-size: 20px;
    margin: 5px;
}

.other{
    background-color: lightcoral;
}

.range{
height: 60vh;
max-height: 60vh;
}

input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
    width: 90%;
}

.txt-btn{
    padding: 20px 10px;
}

.btn{
    background-color: cornflowerblue;
    width: 100%;
}

#msg{width: 100%;}